<ion-header>
  <ion-toolbar>
    <ion-title>
      Score Provider
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item>
    <ion-label>ID</ion-label>
    <ion-input type="type" [(ngModel)]="input_id"></ion-input>
  </ion-item>
  <ion-button expand="block" fill="clear" (click)="getScore(input_id)"
    >Search</ion-button>
  <div *ngIf="score$ | async as sc">
    <h1>ID: {{sc.id}}</h1>
    <h2>Quiz1: {{sc.quiz1}}</h2>
    <h2>Quiz2: {{sc.quiz2}}</h2>
    <h2>Quiz3: {{sc.quiz3}}</h2>
    <h2>Quiz4: {{sc.quiz4}}</h2>
    <h2>Quiz5: {{sc.quiz5}}</h2>
    <h2>Sum: {{sc.sum}}</h2>
    
  </div>
</ion-content>
